<% provide(:title, 'All Highlights') %>
<% provide(:page_class, 'highlights-collection') %>

<aside>
  <%= link_to '← Back', highlights_path, :class => "button-action" %>
</aside>

<h1>Highlights for</h1>
<h3><%= params[:title] %></h3>

<div class="content">
  <div class="highlights-stream">

    <% @highlights.each do |highlight| %>
      <div class="highlight">

        <ul class="tools">
          <li>Found by <%= User.find(highlight.user_id).username %> · </li>
          <li><%= link_to time_ago_in_words(highlight.created_at)+" ago", highlight %></li>
          <% if current_user.try(:admin?) %>
            <li> · <%= link_to 'Edit', edit_highlight_path(highlight) %> · </li>
            <li><%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
    
        <%= combine_highlight(highlight.selected_text, highlight.surrounding_text) %>
    
        <a class="highlight-source" href="<%= highlight.page_url %>">
          <span class="title"><%= highlight.page_title %></span>
          <span class="url"><%= highlight.page_url %></span>
        </a>
        
      </div>
    <% end %>

  </div>
</div>