<h1>Listing highlights</h1>

<table>
  <thead>
    <tr>
      <th>Selected text</th>
      <th>Surrounding text</th>
      <th>Page url</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= highlight.selected_text %></td>
        <td><%= highlight.surrounding_text %></td>
        <td><%= highlight.page_url %></td>
        <td><%= highlight.user_id %></td>
        <td><%= link_to 'Show', highlight %></td>
        <td><%= link_to 'Edit', edit_highlight_path(highlight) %></td>
        <td><%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_highlight_path %>
