<% provide(:title, "Highlighted “" + @highlight.selected_text + "”") %>
<% provide(:page_class, 'admin-index') %>

<p id="notice"><%= notice %></p>

<%= link_to '← Back', highlights_path, :class => "button-action" %>

<div class="highlight">

  <p><%= @highlight.selected_text %></p>
  <p><%= @highlight.surrounding_text %></p>

  <a href="<%= @highlight.page_url %>">
    <span class="title"><%= @highlight.page_title %></span>
    <span class="url"><%= @highlight.page_url %></span>
  </a>

  <ul>
    <li><%= link_to 'Edit', edit_highlight_path(@highlight) %></li>
  </ul>
  
</div>