<p id="notice"><%= notice %></p>

<p>
  <strong>Selected text:</strong>
  <%= @highlight.selected_text %>
</p>

<p>
  <strong>Surrounding text:</strong>
  <%= @highlight.surrounding_text %>
</p>

<p>
  <strong>Page title:</strong>
  <%= @highlight.page_title %>
  <br/>
  <strong>Page url:</strong>
  <%= @highlight.page_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @highlight.user_id %>
</p>

<%= link_to 'Edit', edit_highlight_path(@highlight) %> |
<%= link_to 'Back', highlights_path %>
