<!DOCTYPE html>
<html>
<head>
  <title>Gloss – <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/xgs1xjl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= yield(:page_class) %>">

  <nav>
    <div class="container">
    
    <ul>
      <li><a href="/" class="logo">gloss – for reading online</a></li>
      <% if user_signed_in? %>
        <li>@<%= current_user.username %> · <a href="/users/edit">Edit</a></li>
        <li><%= link_to "Get Bookmarklet", "/install" %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %> · <%= link_to "Register", new_user_registration_path %> · <a href="/">What is this?</a></li>
      <% end %>
    </ul>
    </div>
  </nav>

  <div id="shell">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= yield %>

  </div>

</body>
</html>
